include LICENSE
include README.md
include base/views.py
recursive-include openvpnmon *
recursive-include base/static *
recursive-include base *
recursive-include base/templates *
recursive-include templates *
