include LICENSE
include README.md
recursive-include openvpnmon/openvpnmon *
recursive-include openvpnmon/base/static *
recursive-include openvpnmon/base/templates *
recursive-include openvpnmon/templates *
